* {
    margin: 0px
    padding: 0px
}

body {
    position: relative;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    background-color: white;
    color: wheat;
}

.text-right {
    text-align: right;
    background-color: seagreen;
    padding: 5px;
    border-bottom: 5px solid tan;
}

#contact {
    text-align: center;
    color: rgb(31, 20, 20);
    display: block;
}

li {
    display: inline;
    padding: 0px 20px;
}

h1 {
    text-align: center;
    color: rgb(31, 20, 20);
}

img {
    display: block;
    margin: 20px auto
}

h2 {
    text-align: center;
    color: rgb(31, 20, 20);
    font-size: 14px;
}

footer {
    text-align: center;
    background-color: seagreen;
    padding: 5px;
    font-size: 12px;
}